@use '../../../styles/variables' as *;

.projects__modal {
    position: fixed;
    inset: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color-bg, 0.85);
    z-index: 3;

    &-content {
        background: $color-bg-alt;
        border: 1px solid $color-border;
        border-radius: 16px;
        padding: 2rem;
        width: min(960px, 90vw);
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid $color-border;
        padding-bottom: 1rem;
    }

    &-nav {
        display: flex;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    &-chevron-icon {
        width: 24px;
        height: 24px;
        background-color: $color-text;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &-heading {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        text-align: center;
    }

    &-close {
        background: none;
        border: 0;
        cursor: pointer;

        &-icon {
            width: 24px;
            height: 24px;
            display: block;
            background-color: $color-text;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
        }
    }

    &-body {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        // gap: 1.5rem;
        overflow-y: auto;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .projects__modal {
        &-header {
            grid-template-columns: 1fr 2fr 1fr auto;
        }
    }
}

@media (max-width: 768px) {
    .projects__modal {
        &-content {
            padding: 1rem;
            position: relative;
        }

        &-header {
            grid-template-columns: 1fr auto;
            gap: 0.5rem;
        }

        &-chevron-icon {
            width: 20px;
            height: 40px;
        }

        &-heading {
            gap: 0.5rem;
            position: relative;
            z-index: 1;
            width: 100%;
            justify-content: center;
        }

        &-title {
            font-size: 1rem;
        }

        &-close {
            position: relative;
            z-index: 1;
            justify-self: end;

            &-icon {
                width: 20px;
                height: 20px;
            }
        }

        &-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.6;
            padding: 0.5rem;
            background: rgba($color-bg, 0.6);
            border-radius: 999px;

            &--prev {
                left: -12px;
            }

            &--next {
                right: -12px;
            }
        }
    }
}
