.approach {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
        text-align: center;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__icon {
        width: 160px;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .approach {
        &__icon {
            width: 140px;
        }
    }
}

@media (max-width: 768px) {
    .approach {
        &__item {
            flex-direction: column;
            align-items: center;
        }
    }
}
