#hero {
    margin-top: 72px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;

    & > header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        flex: 1;
    }

    & > figure {
        flex: 0 0 200px;
    }

    & img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
