@use '../../../styles/variables' as *;

.app__nav {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $color-bg;
    border-bottom: 1px solid $color-border;
}

.app__nav-button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
