@use '../../../styles/variables' as *;

.skills__card {
    border: 1px solid $color-border;
    border-radius: 16px;
    overflow: hidden;
    width: 250px;
    height: 250px;

    &-button {
        position: relative;
        width: 100%;
        height: 100%;
        background: none;
        border: 0;
        padding: 0;
        cursor: pointer;

        &:hover .skills__card-door {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            background: #222c35;
        }
    }

    &-content {
        height: 100%;
    }

    &-list {
        padding-left: 10%;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-item {
        border-top: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        &:first-child {
            border-top: 0;
        }
    }

    &-door {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        background: #1b232b;
        border-right: 1px solid $color-border;
        border-left: 1px solid $color-border;
        border-radius: 16px;
        transition: transform 250ms ease;
        z-index: 2;

        &-title {
            font-family: var(--font-title);
            width: 100%;
            padding: 0 10%;
        }
    }

    &.is-open {
        background: #151c22;

        & .skills__card-door {
            transform: translateX(-90%);
        }
    }
}
