@use '../../../styles/variables' as *;

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
