@use '../../../styles/variables' as *;

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        max-width: calc(3 * 250px + 2 * 1.5rem);
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .skills {
        &__grid {
            max-width: calc(2 * 250px + 1 * 1.5rem);
        }
    }
}

@media (max-width: 768px) {
    .skills {
        &__grid {
            max-width: 250px;
        }
    }
}
