@use '../../../styles/variables' as *;

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__title {
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    &__card-icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        &--html-css {
            background-color: #ed7d31;
        }

        &--javascript {
            background-color: #ffc000;
        }

        &--react {
            background-color: #00b0f0;
        }

        &--optimization {
            background-color: #bf9000;
        }

        &--personal {
            background-color: #ffffff;
        }
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
